.header2 {

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    padding-bottom: 1.1rem;
    color: #122344;
    font-size: 2.05rem;
    letter-spacing: 2px;
    font-weight: 700 ;
    text-align: center;
    margin-bottom: 0.25rem;
  
}

.h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    padding-bottom: 1.1rem;
    color: #122344;
    font-size: 1.85rem;
    letter-spacing: 2px;
    font-weight: 300 ;
    text-align: center;
    margin-bottom: 0.25rem;
}

.p1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 300 ;
    text-align: center;
    color: #122344;
}

.div1 {

    background-color: #e3f2fd;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 0px;
    font-family:'Times New Roman', Times, serif;
    border-style: inset;
    border-width: 3px 6px 10px 20px;
    
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root{
  --main-color: #11101d;
  --color-dark: #1D2231;
  
}



header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}


main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 90px);
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
}
.card-single div:last-child span{
  color: var(--main-color);
  font-size: 8rem;

}
.card-single div:first-child span{
  color: var(--text-grey);
  

}
.card-single:last-child{
  background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span
{
  color: #fff;
}

.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}
.card{
  background: #fff;
  border-radius: 12px;
}
.card-header
{
  padding: 1rem;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button{
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border:1px solid var(--main-color);
}



.contact span{
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
  color:  var(--main-color);

}

@media only screen and (max-width: 1200px){

 
  
  .main-content {
  margin-left: 70px;

  }
  .main-content  header{
    width: calc(100% - 70px);
    left:70px;

  }
}

@media only screen and (max-width: 960px){
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid{
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 768px){
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .search-wrapper{
    display: none;
  }
  .sidebar {
    
    left: -100% !important;
  }
  header h2{
    display: flex;
    align-items: center;
  }
  header h2 label{
    display: inline-block;
    text-align: center;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span{
    text-align: center;
    padding-right: 0rem;
  }
  header h2{
    font-size: 1.1rem;
  }
  .main-content{
    width: 100%;
    margin-left: 0rem;
  }
  h4{
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }
  
  #nav-toggle:checked .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .sidebar li a
  {
    padding-left: 1rem;
  }
  #nav-toggle:checked  + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;

  }
  #nav-toggle:checked ~ .main-content{
    margin-left: 0rem !important;
  }
}
@media only screen and (max-width: 560px){
  .cards{
    grid-template-columns: 100%;
  }
}